<h4 class="ui center aligned medium icon header">

  <i class="icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQJcze_OF5kV0ET9SZpESgHoNPI_LoG9P9lsiL-mWVO63WzcWwD&usqp=CAU" width="125" height="125"></img></i>
  It's Secret
</h4>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
          <h4 class="ui header">MESSAGES</h4>
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form">
           <div class="field">
             <div class="ui fluid icon input">
               <input type="text" placeholder="Reply...">
               <i class="bordered inverted green send icon"></i>
             </div>
           </div>
         </form>
      </div>
  </div>
</div>

<div class="four wide column center aligned">
  <div class="ui fluid raised card chatbox ">
    <div class="content center aligned">
      <div class="ui inverted vertical menu">
        <a class="active item">
          Home
        </a>
        <a class="item">
          Messages
        </a>
        <a class="item">
          Friends
        </a>
      </div>
    </div>
  </div>
  </div>
</div>
