<h4 class="ui center aligned medium icon header">
  <br>
  Howl at Me ~_~ A Secret Chat App
  <i class="icon" ><img src="https://images.vexels.com/media/users/3/148118/isolated/preview/06bc5a8132921a97bb7a0c7bb0b098f6-wolf-howling-silhouette-by-vexels.png" width="125" height="125"></img> </i>
  Let's Keep it Secret
</h4>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
          <h4 class="ui header">MESSAGES</h4>
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
         <%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path) do |f| %>
           <div class="field">
             <div class="ui fluid icon input">
               <%= f.text_field :body %>
                <%= f.button '<i class="bordered inverted green send icon"></i>'.html_safe %>
             </div>
           </div>
         <%end %>
      </div>
  </div>
</div>

<div class="four wide column center aligned">
  <div class="ui fluid raised card chatbox ">
    <div class="content center aligned">
      <div class="ui inverted vertical menu">
        <a class="active item">
          Home
        </a>
        <a class="item">
          Messages
        </a>
        <a class="item">
          Friends
        </a>
      </div>
    </div>
  </div>
  </div>
</div>
